// mobile nav
.open {
    height: 100vh;
    z-index: 9999;
    background-color: $clr-black;
    opacity: 1;
    transition: height 500ms ease;
}

.open .mobile-ul {
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: absolute;
    top: 4.75vh;
    left: 7.5vw;
    animation: 400ms ease down, 500ms ease fade;
    li {
        width: 80vw;
        padding: .7rem 0;
        font-size: 1.1rem;
        #mobile-search-icon {
            position: absolute;
            top: 3.1vh;
            left: -2.9vw;
            height: .75rem;
        }
    }
    #search-icon {
        display: none;
    }
}


.open .nav-link {
    border-top: 1px solid #424245;
}

.open #shopping-bag-icon {
    opacity: 0;
    transition: opacity 300ms ease;
}

.open .line-top {
    animation: bounceTop .3s cubic-bezier(0.04, 0.04, 0.12, 0.96) forwards;
}

.line-top {
    animation: reverseTop .3s cubic-bezier(0.04, 0.04, 0.12, 0.96) forwards;
}

.open .line-bottom {
    animation: bounceBottom .3s cubic-bezier(0.04, 0.04, 0.12, 0.96) forwards;
}

.line-bottom {
    animation: reverseBottom .3s cubic-bezier(0.04, 0.04, 0.12, 0.96) forwards;
}

#search-bar input{
    background-color: #1d1d1f;
    color: #a5a5a5;
    width: 92vw;
    height: 2.25rem;
    font-size: 1.1rem;
    padding-left: 2rem;
    margin-bottom: .4rem;
    border: none;
    border-radius: 10px;
    outline: none;
    position: relative;
    left: -5.3vw;
}

