// variables
$clr-white: #fbfbfd;
$clr-black: #000;
$clr-blue: #0070e0;
$clr-light-blue: #2997ff;
$clr-purple: #34283c;
$clr-pink-ltr: #fec2eb;
$clr-light-grey: #f5f5f7;
$clr-nav-links: #cecece;
$clr-border: #cbcbcf;
$clr-red-ltr: #cc2127;
$clr-orange-ltr: #c25310;
$ltr-spacing: 1px;
$margin-gap: .8rem;